/*---------Styling-the-main-containers-of-the-page----------*/

body{
    margin: 0;
    /*display: grid;
    grid-template-rows: auto 600px auto ;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color:#ECEEF1;
    box-sizing: border-box;
}

.navigation, .MasterContainer, .FootBar{
    border: solid 1px black;
    box-sizing: border-box;
    width: auto;
    height: auto;   
}

/*---------Styling-the-Master-container-that-contains-all-the-forms------*/

/*setting-up-the-grids-and-initial-sizes*/

.MasterContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blue;

}




