/*---------Styling-the-main-containers-of-the-page----------*/

body {
  margin: 8px;
  display: grid;
  grid-template-rows: 60px 117px 600px 70px auto ;
  grid-template-columns: 1fr 360px 1fr;
  background-color: #ECEEF1;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/*---------Styling-the-Master-container-that-contains-all-the-forms------*/
.navigationRightSide {
grid-column-start:3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
justify-self: stretch;
display: flex;
justify-content: flex-end;
align-items: flex-start;
}

.IntuitLogoArea {
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
}

.FormContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    justify-self: stretch;
    border-top: solid 1px #C7C7C7;
    border-left: solid 1px #C7C7C7;
    border-right: solid 1px #C7C7C7;
}

.captchaTermUse {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: white;
  justify-self: stretch;
}

.FootBar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: stretch;
    background-color: #ECEEF1;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #505050;
}

/*---------Styling-ForgottenPw-Container------*/

.SignInButton {
  margin-left: 0.5rem;
  font-weight: normal;
}

.SignInButton > button {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  height: 34px;
  font-size: 1.125rem;
  font-style: italic;
  color: white;
}

.SignInButton > button > i {
  width: .8em;
  vertical-align: text-top;
  font-size: 18px;
}

.SignInButton > button > span {
  padding: 0 10px;
  font-size: 16px;
}
.ForgottenPw > p {
  margin: 0;
  color: #505050;
  font-size: 12px;
  line-height: 1.5;
}

.ForgottenPw > p > a {
  text-decoration: none;
}
/*--Styling-the-Intuit-brand-bar---*/


.BrandIntuitLogo {
  background-image: url(./img/logoIntuit.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: left 0 top;
  width: 117px;
  align-self: center;
}

.Logos {
  display: flex;
  align-self: center;
}

.Logos > .mint {
  background-image: url(./img/logoIntuit.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: left -253px bottom;
  width: 80px;
}

.Logos > .quickbooks {
  background-image: url(./img/logoIntuit.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: left -116px bottom;
  width: 138px;
}

.Logos > .turbotax {
  background-image: url(./img/logoIntuit.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: left 0 bottom;
  width: 100px;
}

/*--Styling-the-form-containers--*/

.FormContainer {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: center;
  padding: 30px;
  margin: 0;
}

.Forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1.3rem;
  margin: 0;
  width: 318px;
  height: 390px;
}
.Forms > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 5rem;
}
.Forms > form >label{
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.Forms > form > input {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
}
.CreateAccountButton {
  padding-top: 2rem;
  font-weight: normal;
  width: 100%;
}
.CreateAccountButton > button {
  background: #0077c5;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 0.8rem;
  width: 100%;
}
.CreateAccountButton > button > i {
  width: .8em;
  vertical-align: text-top;
  font-size: 1rem;
}

.formTitle {
  text-align: center;
}
.formTitle > a {
  text-decoration: none;
  color: rgb(76, 76, 76);
}

.formTitle > a > p {
  font-size: 13px;
  margin: 0;
}

.formTitle > h6 > a {
  text-decoration: none;
  font-size: 12px;
  color: #0077c5;
  font-weight: 300;
}

.formTitle > h6 {
  margin: 0;
}

.AgreeingPivacyPolicy {
  text-align: center;
  width: 95%;
}

.AgreeingPivacyPolicy > p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: rgb(117, 117, 117);
  line-height: 1.3rem;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}

.AgreeingPivacyPolicy > p > a {
  text-decoration: none;
  color: #0077c5;
}

.captchaTermUse {
  align-self: baseline;
  background-color: #ECEEF1;
  font-size: 12px;
  margin: 0;
  padding: 1.3rem;
  color: rgb(117, 117, 117);
  line-height: 1.3rem;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border-bottom: solid 1px #C7C7C7;
  border-left: solid 1px #C7C7C7;
  border-right: solid 1px #C7C7C7;
}
.captchaTermUse > p {
  padding: 0;
  margin: 0;
}
.captchaTermUse > p > a {
  text-decoration: none;
  color: #0077c5;
  padding: 0;
  margin: 0;
}
.Legal{
  margin-top: 0.8rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.Legal > a {
  text-decoration: none;
  color: #505050;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.copyRights > p {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  text-align: center;
}

.Forms > form > input {
  border: 0.5px solid #c1c5c8;
  border-radius: 4px;
  font-family:Arial, FontAwesome;
  padding: 10px 0;
  font-size: 16px;
  text-indent: 10px;
}

.lockPassword > input {
  text-align: right;
}

::-webkit-input-placeholder {
  font-size: 16px;
}

::-moz-placeholder {
  font-size: 16px;
}

:-moz-placeholder {
  font-size: 16px;
}

:-ms-input-placeholder {
  font-size: 16px;
}
