/*---------Styling-the-main-containers-of-the-page----------*/

body {
  margin: 8px;
  display: grid;
  grid-template-rows: 60px 117px 670px auto ;
  grid-template-columns: 1fr 360px 1fr;
  background-color: #ECEEF1;
/*box-sizing: border-box;*/
}
/*---------Styling-the-Master-container-that-contains-all-the-forms------*/
.navigationRightSide {
grid-column-start:3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
justify-self: stretch;
display: flex;
justify-content: flex-end;
align-items: flex-start;
}

.IntuitLogoArea {
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
}

.FormContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(21, 255, 0);
    justify-self: stretch;
}

.FootBar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(255, 0, 55);
    justify-self: stretch;
}

/*---------Styling-ForgottenPw-Container------*/

.SignInButton {
  margin-left: 0.5rem;
  font-weight: normal;
}

.SignInButton > button {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  height: 34px;
  font-size: 1.125rem;
  font-style: italic;
  color: white;
}

.SignInButton > button > i {
  width: .8em;
  vertical-align: text-top;
  font-size: 18px;
}

.SignInButton > button > span {
  padding: 0 10px;
  font-size: 16px;
}
.ForgottenPw > p {
  margin: 0;
  color: #505050;
  font-size: 12px;
  line-height: 1.5;
}

.ForgottenPw > p > a {
  text-decoration: none;
}
/*--Styling-the-Intuit-brand-bar---*/


.BrandIntuitLogo {
  background-image: url(./img/logoIntuit.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: left 0 top;
  width: 117px;
  align-self: center;
}

.Logos {
  display: flex;
  align-self: center;
}

.Logos > .mint {
  background-image: url(./img/logoIntuit.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: left -253px bottom;
  width: 66px;
}

.Logos > .quickbooks {
  background-image: url(./img/logoIntuit.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: left -115px bottom;
  width: 133px;
}

.Logos > .turbotax {
  background-image: url(./img/logoIntuit.png);
  height: 40px;
  background-repeat: no-repeat;
  background-position: left 0 bottom;
  width: 100px;
}
